@font-face {
  font-family: VT323;
  src: url("fonts/VT323-Regular.ttf");
}

@font-face {
  font-family: Editorial-New;
  src: url("fonts/EditorialNew-Regular.otf");
}
* {
  margin: 0px;
  padding: 0px;
  color: white;
  border: 0px dotted blue;

}
body {
  background-color: black;
  display: flex;
  justify-content: center;
}

.website-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  margin: 36px 20px 16px 20px;
  max-width: 500px;

}

.title-container {
  width: 100%;

  font-family: Editorial-New;
  padding: 16px;


}

#glass-box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  border: 1px solid white;

}

h1 {
  font-weight: normal;
  text-align: center;
  margin-top: 32px;
  margin: 0px 16px 0px 16px;
  font-size: 32px;
  font-family: Editorial-New;
}

h2 {
  font-weight: normal;
  text-align: center;
  margin-top: 12px;
  font-family: Editorial-New;
  max-width: 400px;
}

.authorship {
  margin-top: 20px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-family: VT323;
}

.scroll-text {
  margin: 20px;
  font-family: VT323;
  animation-name: fade;
  animation-duration: 3s;
  animation-iteration-count: infinite;

}
@keyframes fade {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}

.copy-container {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.copy {
  font-size: 17px;
  line-height: 25px;
  letter-spacing: .02em;
  hyphens: auto;
  -webkit-hyphens: auto;
}

.caption {
  margin-top: 20px;
  font-family: VT323;
  color: grey;
}
